# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
collections/.project
collections/.classpath
collections/.settings/
collections/bin/
**/.DS_Store
